<section class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 caja-izq">
      <img
        src="https://images-na.ssl-images-amazon.com/images/I/51cfeIIm12L._AC_.jpg"
        class="img-fluid"
        alt="Responsive image"
      />
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 caja-derecha">
      <h2 class="titulo">start wars</h2>
      <p class="descripcion">
        While the First Order continues to ravage the galaxy, Rey finalizes her training as a Jedi. But danger suddenly rises from the ashes as the evil Emperor Palpatine mysteriously returns from the dead. While working with Finn and Poe Dameron to fulfill a new mission, Rey will not only face Kylo Ren once more, but she will also finally discover the truth about her parents as well as a deadly secret that could determine her future and the fate of the ultimate final showdown that is to come.
      </p>
      <button
        type="button"
        id="boton-alquilar"
        routerLink="/"
        class="btn btn-danger"
      >
        ¡ALQUILA AHORA O MUERE!
      </button>
    </div>
  </div>
</section>
