@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
h3{
    text-align: center;
    margin-bottom: 30px;
    font-family: 'VT323';
    font-size: 40px;
    color: #ffffff;
}
.container-fluid{
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #141414;
}
.columna-izq{
    width: 100vh;
    min-height: 60vh;
    border-right: 1px solid white;
   
}
.datos-per{
  text-transform: uppercase;
  font-size: 25px;
  color: white;
  text-decoration: none;
}
.tlf{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.list-group-item{
    background-color: #141414;
    color: white;
    text-align: center;
    text-transform: uppercase;
    border: none;
    font-size: 15px;
}

