<div class="container-fluid">

    <div class="row justify-content-around">
        <div class="col-5 red columna-izq text-center ">
            <h3>INFORMACIÓN PERSONAL</h3>
            <p>David</p>
            <p>Moreno Capel</p>
            <p>633-447-487</p>
            <button type="button" class="btn btn-danger">SALIR</button>
        </div>
       <div class="col-6 green columna-der">
            <h3>PELICULAS ALQUILADAS</h3>
            <ul class="list-group ">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
        </div>
    </div>
</div>